<!-- copyVirtualMachineModal -->
<div class="modal" id="copyVirtualMachineModal" tabindex="-1" role="dialog" aria-labelledby="copyVirtualMachineModalLabel">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal-lg verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body" ng-controller="copyVirtualMachineCtrl as copyVirtualMachineCtrl">

					<form>
						<input ng-repeat="vmName in virtualMachines.checkedVirtualMachines" ng-if="vmName.state === 'Running' || vmName.state === 'Stopped'" type="text" class="form-control input-sm" id="{{ vmName.name }}" placeholder="{{ vmName.name }} copy" value="{{ vmName.name }} copy" style="margin-bottom:8px" />
					</form>

					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#locationPicker" aria-expanded="false" aria-controls="locationPicker" ng-init="copyVirtualMachineCtrl.locationSelected = false">
						<span ng-show="!copyVirtualMachineCtrl.locationSelected || !copyVirtualMachineCtrl.checkedLocation.length">
							Choose location
						</span>
						<span ng-show="copyVirtualMachineCtrl.locationSelected && copyVirtualMachineCtrl.checkedLocation.length">
							Location selected
						</span>
					</button>

					<div class="collapse fixedPositionCollapse" id="locationPicker">
						<div class="row">
							<div class="col-sm-8">
								<p class="h4">Europe</p>

								<div class="row">
									<div ng-repeat="location in copyVirtualMachineCtrl.europeLocations" class="col-sm-6">
										<span class="flag-icon flag-icon-{{ location.countryCode }}"></span>
										{{ location.name }}

										<div class="radio displayInlineBlock pull-right">
											<input type="radio" id="{{ location.name }}" ng-model="copyVirtualMachineCtrl.checkedLocation" value="{{ location.name }}" />
											<label for="{{ location.name }}"></label>
										</div>
									</div>
								</div>

								<button ng-disabled="!copyVirtualMachineCtrl.checkedLocation.length" class="btn btn-secondary btn-md btn-block" ng-click="copyVirtualMachineCtrl.closeLocationPicker()" style="margin-top:20px">Select</button>
							</div>
							<div class="col-sm-4">
								<!-- North America -->
								<p class="h4">North America</p>

								<div ng-repeat="location in copyVirtualMachineCtrl.northAmericaLocations" class="clearfix">
									<span class="flag-icon flag-icon-{{ location.countryCode }}"></span>
									{{ location.name }}

									<div class="radio displayInlineBlock pull-right">
										<input type="radio" id="{{ location.name }}" ng-model="copyVirtualMachineCtrl.checkedLocation" value="{{ location.name }}" />
										<label for="{{ location.name }}"></label>
									</div>
								</div>

								<!-- North America -->
								<p class="h4">Asia</p>

								<div ng-repeat="location in copyVirtualMachineCtrl.asiaLocations" class="clearfix">
									<span class="flag-icon flag-icon-{{ location.countryCode }}"></span>
									{{ location.name }}

									<div class="radio displayInlineBlock pull-right">
										<input type="radio" id="{{ location.name }}" ng-model="copyVirtualMachineCtrl.checkedLocation" value="{{ location.name }}" />
										<label for="{{ location.name }}"></label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row" style="padding:15px 10px; border:solid 1px red; margin: 20px 0">
						<div class="col-sm-1">
							<i class="fa fa-exclamation-triangle" style="font-size: 40px; color:red"></i>
						</div>
						<div class="col-sm-10">
							In order to copy this VM we require it to be shutdown. Please make sure that there are no tasks scheduled on this VM. VM will be automatically rebooted once copied.

							<div class="row" style="margin-top: 20px">
								<div class="col-sm-6">
									<div class="checkbox">
										<input type="checkbox" id="shutdown" ng-model="copyVirtualMachineCtrl.shutdown" ng-init="copyVirtualMachineCtrl.shutdown = false" />
										<label for="shutdown">
											I am happy to shutdown the VM
										</label>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="checkbox">
										<input type="checkbox" id="forceShutdown" ng-model="copyVirtualMachineCtrl.forceShutdown" ng-init="copyVirtualMachineCtrl.forceShutdown = false" />
										<label for="forceShutdown">
											Force shutdown
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<button type="button" ng-disabled="
								!copyVirtualMachineCtrl.locationSelected ||
								!copyVirtualMachineCtrl.shutdown &&
								!copyVirtualMachineCtrl.forceShutdown"
								class="btn btn-block btn-primary" ng-click="quickActions.filterVirtualMachinesActions('copy')">Copy</button>
						</div>
						<div class="col-sm-6">
							<button type="button" data-dismiss="modal" class="btn btn-block btn-link">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>