<!-- deleteVirtualMachineModal -->
<div class="modal" id="deleteVirtualMachineModal" tabindex="-1" role="dialog" aria-labelledby="deleteVirtualMachineModalLabel">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal-lg verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<h2 ng-if="virtualMachines.checkedVirtualMachines.length === 1">
						Are you sure you want to delete the following virtual machine?
					</h2>

					<h2 ng-if="virtualMachines.checkedVirtualMachines.length > 1">
						Are you sure you want to delete the following virtual machines?
					</h2>

					<div class="row" ng-repeat="vmName in virtualMachines.checkedVirtualMachines">
						<div class="col-sm-4">{{ vmName.name }}</div>
						<div class="col-sm-4">
							<span class="flag-icon flag-icon-gb"></span>
							{{ vmName.zonename }}
						</div>
						<div class="col-sm-4">
							<span ng-if="vmName.state == 'Running'" class="glyphicon glyphicon-ok"></span>
							<span ng-if="vmName.state == 'Stopped'" class="glyphicon glyphicon-stop"></span>
							<span ng-if="vmName.state == 'Destroyed'" class="glyphicon glyphicon-remove"></span>
							{{ vmName.state }}
						</div>
					</div>
					<br />

					<div class="checkbox">
						<input type="checkbox" id="expungeVMInput" ng-model="quickActions.expungeVM" />
						<label for="expungeVMInput">
							Expunge
						</label>
					</div>

					<div class="row" style="margin-bottom:20px">
						<div class="col-sm-6">Type <strong>DELETE</strong> to confirm</div>
						<div class="col-sm-6">
							<input type="text" class="form-control input-sm" id="confirmVMDeletionInput" placeholder="Type DELETE to confirm" ng-model="quickActions.confirmVMDeletion"/>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<button type="button" class="btn btn-block btn-danger" ng-click="quickActions.filterVirtualMachinesActions('delete')" ng-disabled="quickActions.confirmVMDeletion !== 'DELETE'">Delete</button>
						</div>
						<div class="col-sm-6">
							<button type="button" data-dismiss="modal" class="btn btn-block btn-link">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>