<div class="pull-right" style="margin-bottom:20px">
	<button type="button" role="button" class="btn btn-link" ng-disabled="!virtualMachines.checkedVirtualMachines.length || !virtualMachines.stoppedVirtualMachines.length" data-toggle="modal" data-target="#startVirtualMachineModal">
		<span class="glyphicon glyphicon-play"></span>
		START
	</button>

	<button type="button" role="button" class="btn btn-link" ng-disabled="!virtualMachines.checkedVirtualMachines.length || !virtualMachines.runningVirtualMachines.length" data-toggle="modal" data-target="#stopVirtualMachineModal">
		<span class="glyphicon glyphicon-stop"></span>
		STOP
	</button>

	<button type="button" role="button" class="btn btn-link" ng-disabled="!virtualMachines.checkedVirtualMachines.length || !virtualMachines.runningVirtualMachines.length" data-toggle="modal" data-target="#rebootVirtualMachineModal">
		<span class="glyphicon glyphicon-repeat"></span>
		REBOOT
	</button>

	<button type="button" role="button" class="btn btn-link" ng-disabled="!virtualMachines.checkedVirtualMachines.length || !virtualMachines.checkedVirtualMachines.length" data-toggle="modal" data-target="#deleteVirtualMachineModal" ng-click="quickActions.clearDeleteVMOptions()">
		<span class="glyphicon glyphicon-trash"></span>
		DELETE
	</button>

	<button type="button" role="button" class="btn btn-link" ng-disabled="!virtualMachines.checkedVirtualMachines.length || !virtualMachines.destroyedVirtualMachines.length" data-toggle="modal" data-target="#restoreVirtualMachineModal">
		<span class="glyphicon glyphicon-refresh"></span>
		RESTORE
	</button>

	<button type="button" role="button" class="btn btn-link" ng-disabled="!virtualMachines.checkedVirtualMachines.length || virtualMachines.totalRunningAndStoppedVirtualMachines === 0" data-toggle="modal" data-target="#copyVirtualMachineModal">
		<span class="glyphicon glyphicon-duplicate"></span>
		COPY
	</button>

	<button type="button" role="button" class="btn btn-link" ng-disabled="!virtualMachines.checkedVirtualMachines.length || virtualMachines.totalRunningAndStoppedVirtualMachines === 0" data-toggle="modal" data-target="#takeVirtualMachineSnapshotModal">
		<span class="glyphicon glyphicon-camera"></span>
		SNAPSHOT
	</button>

	<!-- modals -->
	<div ng-include="'views/virtualMachines/quickActions/stopVirtualMachineModal.html'"></div>
	<div ng-include="'views/virtualMachines/quickActions/startVirtualMachineModal.html'"></div>
	<div ng-include="'views/virtualMachines/quickActions/rebootVirtualMachineModal.html'"></div>
	<div ng-include="'views/virtualMachines/quickActions/deleteVirtualMachineModal.html'"></div>
	<div ng-include="'views/virtualMachines/quickActions/copyVirtualMachineModal.html'"></div>
	<div ng-include="'views/virtualMachines/quickActions/takeVirtualMachineSnapshotModal.html'"></div>
	<div ng-include="'views/virtualMachines/quickActions/restoreVirtualMachineModal.html'"></div>
</div>