<!-- stopVirtualMachineModal -->
<div class="modal" id="stopVirtualMachineModal" tabindex="-1" role="dialog" aria-labelledby="stopVirtualMachineModalLabel">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal-lg verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<h2 ng-if="virtualMachines.runningVirtualMachines.length === 1">
						Are you sure you want to stop the following virtual machine?
					</h2>

					<h2 ng-if="virtualMachines.runningVirtualMachines.length > 1">
						Are you sure you want to stop the following virtual machines?
					</h2>

					<div class="row" ng-repeat="vmName in virtualMachines.checkedVirtualMachines | filter: { state: 'Running' }">
						<div class="col-sm-4">{{ vmName.name }}</div>
						<div class="col-sm-4">
							<span class="flag-icon flag-icon-gb"></span>
							{{ vmName.zonename }}
						</div>
						<div class="col-sm-4">
							<span class="glyphicon glyphicon-ok"></span>
							{{ vmName.state }}
						</div>
					</div>
					<br />

					<div class="row">
						<div class="col-sm-6">
							<button type="button" class="btn btn-block btn-danger" ng-click="quickActions.filterVirtualMachinesActions('stop')">Stop</button>
						</div>
						<div class="col-sm-6">
							<button type="button" data-dismiss="modal" class="btn btn-block btn-link">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>