<div ng-controller="storageListCtrl as storageListCtrl">
	<div class="row">
		<div class="col-sm-2">
			<div ng-include="'views/common/toggleSideBarNavigation.html'"></div>
		</div>
		<div class="col-sm-10">
			<div ng-include="'views/storage/quickActions/quickActionsList.html'"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<div ng-include="'views/common/sideBarNavigation.html'"></div>
		</div>

		<div ng-class="{
				'loadingContainer': storageListCtrl.storageListLoading,
				'col-sm-10': mainCtrl.showSideBarNavigation,
				'col-sm-12': !mainCtrl.showSideBarNavigation
			}">
			<div class="row">
				<div class="col-sm-12">
					<div class="loadingOverlay" ng-show="storageListCtrl.storageListLoading"></div>
					<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate large centerPosition" ng-class="{ 'hidden': !storageListCtrl.storageListLoading }" ng-show="storageListCtrl.storageListLoading"></span>

					<ul class="list-unstyled listView" ng-class="{ 'loadingContent': storageListCtrl.storageListLoading }">
						<!-- header -->
						<li ng-hide="!storageListCtrl.list.length && !storageListCtrl.storageListLoading" class="clearfix">
							<div class="col-sm-8">
								<div class="row noGutter">
									<div class="col-sm-7 buffer">
										<div class="row">
											<div class="col-sm-10">
												<div class="row">
													<div class="col-sm-6">
														<strong>Storage Name</strong>
													</div>
													<div class="col-sm-6">
														<button type="button" class="btn btn-primary btn-sm pull-right">
															<span class="glyphicon glyphicon-plus-sign"></span>	Add Storage
														</button>
													</div>
												</div>
											</div>
											<div class="col-sm-2 text-center">
												<!-- default icon -->
												<i class="fa fa-sort"
													ng-click="storageListCtrl.orderStorageDisks('name')"
													ng-hide="alphabeticalNames === true || alphabeticalNames === false"></i>

												<!-- asc icon -->
												<i class="fa fa-sort-asc"
													ng-click="storageListCtrl.orderStorageDisks('name', true)"
													ng-show="alphabeticalNames === true"></i>

												<!-- desc icon -->
												<i class="fa fa-sort-desc"
													ng-click="storageListCtrl.orderStorageDisks('name')"
													ng-show="alphabeticalNames === false"></i>
											</div>
										</div>
									</div>
									<div class="col-sm-5 buffer">
										<div class="row">
											<div class="col-sm-10">
												<strong>Disk Type</strong>
											</div>
											<div class="col-sm-2">
												<!-- default icon -->
												<i class="fa fa-sort"
													ng-click="storageListCtrl.orderStorageDisks('status')"
													ng-hide="alphabeticalNames === true || alphabeticalNames === false"></i>

												<!-- asc icon -->
												<i class="fa fa-sort-asc"
													ng-click="storageListCtrl.orderStorageDisks('status', true)"
													ng-show="alphabeticalNames === true"></i>

												<!-- desc icon -->
												<i class="fa fa-sort-desc"
													ng-click="storageListCtrl.orderStorageDisks('status')"
													ng-show="alphabeticalNames === false"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row noGutter">
									<div class="col-sm-10 buffer">
										<div class="row">
											<div class="col-sm-3">
												<strong>Status</strong>
											</div>
											<div class="col-sm-9">
												<span class="glyphicon glyphicon-resize-full textwhite iconPrimary iconSmall onHoverCursorPointer"></span>

												<span class="glyphicon glyphicon-resize-small textwhite iconPrimary iconSmall onHoverCursorPointer"></span>
											</div>
										</div>
									</div>
									<div class="col-sm-2 buffer">
										<div class="checkbox">
											<input type="checkbox" id="toggleAllStorageCheckboxes" ng-click="storageListCtrl.toggleAllStorageCheckboxes()" ng-model="storageListCtrl.allStorageDisksChecked" />
											<label for="toggleAllStorageCheckboxes"></label>
										</div>
									</div>
								</div>
							</div>
						</li>
						<!-- empty lists -->
						<li ng-show="!storageListCtrl.list.length && !storageListCtrl.storageListLoading">
							<h1>There are no storage disks to display!</h1>
						</li>
						<!-- repeater  -->
						<li dir-paginate="storage in storageListCtrl.list | itemsPerPage: storageListCtrl.storageService.vmsPerPage" class="item" ng-class="{ 'open' : storage.showDetails }">
							<!-- summary  -->
							<div class="clearfix summary">
								<div class="col-sm-8 onHoverCursorPointer" ng-click="storageListCtrl.showStorageDiskDetails(storage, $index)">
									<div class="row noGutter">
										<!-- storage name -->
										<div class="col-sm-7 buffer" ng-class="{'transparent' : storage.operationInProgress.length }">
											<div class="row">
												<div class="col-sm-10">
													<span class="ellipsis">{{ storage.name }}</span>
												</div>
												<div class="col-sm-2 text-center">
													<span class="glyphicon glyphicon-chevron-down"></span>
												</div>
											</div>
										</div>

										<!-- disk type -->
										<div class="col-sm-5 buffer" ng-class="{'transparent' : storage.operationInProgress.length }">
											{{ storage.type }}
										</div>
									</div>
								</div>

								<div class="col-sm-4" ng-class="{'transparent' : storage.operationInProgress.length }">
									<div class="row noGutter">
										<!-- state / status / storage queue -->
										<div class="col-sm-10 buffer" ng-hide="storage.showLoginDetails">
											<!-- state -->
											<div ng-hide="storage.operationInProgress.length || storage.scheduledOperation.length" ng-class="{'transparent' : storage.operationInProgress.length }">
												<span ng-if="storage.state == 'Ready'" class="glyphicon glyphicon-ok"></span>
												<span ng-if="storage.state == 'Stopped'" class="glyphicon glyphicon-stop"></span>
												<span ng-if="storage.state == 'Destroyed'" class="glyphicon glyphicon-remove"></span>
												{{ storage.state }}
											</div>

											<!-- status -->
											<div class="row" ng-show="storage.operationInProgress.length">
												<div class="col-sm-12">
													<span ng-show="storage.operationInProgress === 'detach'">
														disk is detaching
													</span>
													<span ng-show="storage.operationInProgress === 'resize'">
														disk is resizing
													</span>
													<span ng-show="storage.operationInProgress === 'delete'">
														disk is being deleted
													</span>
													<span ng-show="storage.operationInProgress === 'snapshot'">
														disk snapshot in progress
													</span>
													<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate"></span>
												</div>
											</div>

											<!-- storage queued -->
											<div class="row" ng-show="storage.scheduledOperation.length">
												<div class="col-sm-12">
													<div class="pull-left">
														<span class="glyphicon glyphicon-hourglass textSuccess"></span>
														<span>Queued {{ storage.scheduledOperation }}</span>
													</div>
													<div class="pull-right onHoverCursorPointer" ng-click="storageListCtrl.removeQueuedStorageDisk(storage)">
														<span class="glyphicon glyphicon-remove-sign textDanger onHoverCursorPointer"></span>
														<span class="textDanger">Cancel</span>
													</div>
												</div>
											</div>
										</div>

										<!-- storage checkbox -->
										<div class="col-sm-2 buffer">
											<div class="checkbox pull-left">
												<input type="checkbox" id="checkbox{{$index}}" ng-model="storage.checked" ng-click="storageListCtrl.countStorageDisksInView()" ng-disabled="storage.operationInProgress.length || storage.scheduledOperation.length" />
												<label for="checkbox{{$index}}"></label>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- details -->
					 		<div class="clearfix detail slideToggle" ng-show="storage.showDetails">
					 			<div class="col-sm-8">
									<div ng-include="'views/storage/details/storageDetails.html'" ng-show="storageListCtrl.state.current.name === 'storage' || storageListCtrl.state.current.name === 'storage.details'">
									</div>
					 				<div ui-view="" class="storage"></div>
					 			</div>
								<div class="col-sm-4">
									<div ng-include="'views/storage/details/navigation.html'"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!-- pagination -->
			<div class="row">
				<div class="col-sm-5">
					<dir-pagination-controls on-page-change="storageListCtrl.pageChanged(newPageNumber)"></dir-pagination-controls
				>
				</div>
				<div class="col-sm-7" style="margin-top:22px">
					<div class="pull-left" ng-hide="storageListCtrl.storageListLoading || storageListCtrl.list.length < 25">
						<strong>VM's per page</strong>
						<a href ng-click="storageListCtrl.storageService.vmsPerPage = 10" ng-class="{ 'current' : storageListCtrl.storageService.vmsPerPage === 10 }">10</a>
						<a href ng-click="storageListCtrl.storageService.vmsPerPage = 25" ng-class="{ 'current' : storageListCtrl.storageService.vmsPerPage === 25 }">25</a>
						<a href ng-click="storageListCtrl.storageService.vmsPerPage = 50" ng-hide="storageListCtrl.list.length < 50" ng-class="{ 'current' : storageListCtrl.storageService.vmsPerPage === 50 }">50</a>
						<a href ng-click="storageListCtrl.storageService.vmsPerPage = 100" ng-hide="storageListCtrl.list.length < 100" ng-class="{ 'current' : storageListCtrl.storageService.vmsPerPage ===100 }">100</a>
					</div>

					<div class="pull-right" ng-hide="storageListCtrl.storageListLoading">
						<strong>Total Storage Disks</strong> {{ storageListCtrl.list.length }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>