<div ng-click="setQuickActionsVirtualMachine(vm)">
	<div class="row noGutter">
		<!-- Details button -->
		<div class="col-sm-6">
			<a class="btn btn-default btn-md btn-block" ui-sref="virtualMachines.details({ vmIndex: $index, vmName: vm.name })">
				Details
			</a>
		</div>

		<!-- Start button -->
		<div class="col-sm-6" ng-show="vm.state === 'Stopped'">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#startVirtualMachineModal">
				Start
			</button>
		</div>

		<!-- Stop button -->
		<div class="col-sm-6" ng-hide="vm.state === 'Stopped'">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#stopVirtualMachineModal" ng-disabled="vm.state === 'Destroyed'">
				Stop VM
			</button>
		</div>
	</div>
	<div class="row noGutter">
		<!-- Saved snapshots button -->
		<div class="col-sm-6" ng-show="vm.state !== 'Running'">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" ng-disabled="vm.state !== 'Running'">
				Saved snapshots
			</button>
		</div>

		<div class="col-sm-6" ng-show="vm.state === 'Running'">
			<a class="btn btn-default btn-md btn-block" ui-sref="virtualMachines.savedSnapshots({ vmIndex: $index, vmName: vm.name })">
				Saved snapshots
			</a>
		</div>

		<!-- Reboot VM button -->
		<div class="col-sm-6">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#rebootVirtualMachineModal" ng-disabled="vm.state !== 'Running'">
				Reboot VM
			</button>
		</div>
	</div>
	<div class="row noGutter">
		<!-- NICS button -->
		<div class="col-sm-6" ng-show="vm.state !== 'Running'">
			<a class="btn btn-default btn-md btn-block" ui-sref="virtualMachines.nics({ vmIndex: $index, vmName: vm.name })" ng-disabled="vm.state !== 'Running'">
				NICs
			</a>
		</div>

		<div class="col-sm-6" ng-show="vm.state === 'Running'">
			<a class="btn btn-default btn-md btn-block" ui-sref="virtualMachines.nics({ vmIndex: $index, vmName: vm.name })">
				NICs
			</a>
		</div>

		<!-- Delete VM button -->
		<div class="col-sm-6" ng-show="vm.state !== 'Destroyed'">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#deleteVirtualMachineModal" ng-click="quickActions.clearDeleteVMOptions()">
				Delete VM
			</button>
		</div>

		<!-- Restore VM button -->
		<div class="col-sm-6" ng-show="vm.state === 'Destroyed'">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#restoreVirtualMachineModal">
				Restore VM
			</button>
		</div>
	</div>
	<div class="row noGutter">
		<!-- Statistics button -->
		<div class="col-sm-6">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" ng-disabled="vm.state !== 'Running'">Statistics</button>
		</div>

		<!-- Copy VM button -->
		<div class="col-sm-6">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#copyVirtualMachineModal" ng-disabled="vm.state === 'Destroyed'">
				Copy this VM
			</button>
		</div>
	</div>
	<div class="row noGutter">
		<!-- Monitoring vm button -->
		<div class="col-sm-6">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" ng-disabled="vm.state !== 'Running'">
				Monitoring
			</button>
		</div>

		<!-- Launch console button -->
		<div class="col-sm-6">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" ng-disabled="vm.state !== 'Running'">
				Launch console
			</button>
		</div>
	</div>
</div>