<div class="vmSpecifics" ng-controller="virtualMachinesDetailsCtrl">
	<div class="item clearfix">
		<div class="col-sm-5">Name</div>
		<div class="col-sm-7">
			<div ng-show="!vm.editVirtualMachineName" class="noGutter">
				<div class="col-sm-7">{{ vm.name }}</div>
				<div class="col-sm-5">
					<a ng-show="!vm.editVirtualMachineName" ng-click="vm.editVirtualMachineName = true; vm.shouldBeOpen = true" class="btn btn-default btn-sm pull-right">Change</a>
				</div>
			</div>
			<div ng-show="vm.editVirtualMachineName" class="noGutter">
				<div class="col-sm-7"
					ng-class="{ 'has-error': !updateVirtualMachineNameForm[{{$index}}].newVirtualMachineName.$valid }">

					<!-- update virtual machine name form -->
					<form name="updateVirtualMachineNameForm[{{$index}}]" role="form" novalidate>
						<!-- virtual machine name tooltip -->
						<div class="customToolTip showToolTip"
							ng-show="vm.showToolTips && updateVirtualMachineNameForm[{{$index}}].newVirtualMachineName.$error.required">
							<div class="customToolTipContent">
								<span>Please enter a new virtual machine</span>
								<div class="customToolTipArrow"></div>
							</div>
						</div>

						<!-- virtual machine min length error tooltip -->
						<div class="customToolTip showToolTip"
							ng-show="vm.showToolTips && updateVirtualMachineNameForm[{{$index}}].newVirtualMachineName.$error.minlength">
							<div class="customToolTipContent">
								<span>Please enter at least 3 characters</span>
								<div class="customToolTipArrow"></div>
							</div>
						</div>

						<input type="text"
							ng-model="vm.newVirtualMachineName"
							ng-init="vm.newVirtualMachineName = vm.name"
							ng-minlength="3"
							value="vm.name"
							class="form-control input-sm showToolTip"
							focus-me="vm.shouldBeOpen"
							name="newVirtualMachineName"
							required>
					</form>
				</div>
				<div class="col-sm-5">
					<a ng-click="changeVirtualMachineName(vm, updateVirtualMachineNameForm[$index])" class="btn btn-default btn-sm pull-right">Save</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">ID</div>
		<div class="col-sm-7 push-left">{{ vm.id }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">Template</div>
		<div class="col-sm-7 push-left">{{ vm.templatename }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">Dynamically Scalable</div>
		<div class="col-sm-7">{{ vm.isdynamicallyscalable }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">Hypervisor</div>
		<div class="col-sm-7">{{ vm.hypervisor }}</div>
	</div>
	<!-- Attached ISO -->
	<div class="item clearfix">
		<div class="col-sm-5">Attached ISO</div>
		<div class="col-sm-7">
			<div ng-show="!vm.editAttachedIso" class="noGutter">
				<div class="col-sm-7">{{ vm.attachediso }}</div>
				<div class="col-sm-5">
					<a ng-show="!vm.editAttachedIso" ng-click="vm.editAttachedIso = true; loadAttachedIsos(vm);" class="btn btn-default btn-sm pull-right">Attach</a>
				</div>
			</div>
			<div ng-show="vm.editAttachedIso" class="noGutter">
				<div class="col-sm-7">
					<div ng-class="{ 'hidden': !vm.attachedIsoLoading }" ng-show="vm.attachedIsoLoading">
						<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate"></span>
						<strong>Loading Iso list</strong>
					</div>

					<div class="form-group" ng-show="!vm.attachedIsoLoading">
						<select class="form-control" ng-model="vm.attachedIso" ng-change="vm.attachedIso">
							<option value="">Select ISO</option>
							<option ng-repeat="iso in vm.attachedIsosArray">{{ iso }}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-5">
					<a ng-click="changeAttachedIso(vm)" class="btn btn-default btn-sm pull-right">Save</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Number of CPU Cores -->
	<div class="item clearfix">
		<div class="col-sm-5">Number of CPU Cores</div>
		<div class="col-sm-7">
			<div ng-show="!vm.editCPUCores" class="noGutter">
				<div class="col-sm-7">{{ vm.cpunumber }}</div>
				<div class="col-sm-5">
					<a ng-show="!vm.editCPUCores" ng-click="vm.editCPUCores = true; loadCPUCores(vm);" class="btn btn-default btn-sm pull-right">Scale Up</a>
				</div>
			</div>
			<div ng-show="vm.editCPUCores" class="noGutter">
				<div class="col-sm-7">
					<div ng-class="{ 'hidden': !vm.CPUCoresLoading }" ng-show="vm.CPUCoresLoading">
						<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate"></span>
						<strong>Loading CPU Cores list</strong>
					</div>

					<div class="form-group" ng-show="!vm.CPUCoresLoading">
						<select class="form-control" ng-model="vm.CPUCores" ng-change="vm.CPUCores">
							<option value="">CPUs</option>
							<option ng-repeat="CPUCores in vm.CPUCoresArray">{{ CPUCores }}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-5">
					<a ng-click="changeCPUCores(vm)" class="btn btn-default btn-sm pull-right">Save</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Memory -->
	<div class="item clearfix">
		<div class="col-sm-5">Memory</div>
		<div class="col-sm-7">
			<div ng-show="!vm.editMemory" class="noGutter">
				<div class="col-sm-7">{{ vm.memory }} MB</div>
				<div class="col-sm-5">
					<a ng-show="!vm.editMemory" ng-click="vm.editMemory = true; loadMemory(vm);" class="btn btn-default btn-sm pull-right">Scale Up</a>
				</div>
			</div>
			<div ng-show="vm.editMemory" class="noGutter">
				<div class="col-sm-7">
					<div ng-class="{ 'hidden': !vm.memoryLoading }" ng-show="vm.memoryLoading">
						<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate"></span>
						<strong>Loading Memory list</strong>
					</div>

					<div class="form-group" ng-show="!vm.memoryLoading">
						<select class="form-control" ng-model="vm.memoryAmount" ng-change="vm.memoryAmount">
							<option value="">RAM (MB)</option>
							<option ng-repeat="memoryAmount in vm.memoryArray">{{ memoryAmount }}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-5">
					<a ng-click="changeMemory(vm)" class="btn btn-default btn-sm pull-right">Save</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Volumes -->
	<div class="item clearfix">
		<div class="col-sm-5">Volumes</div>
		<div class="col-sm-7">
			<div ng-include="'views/virtualMachines/details/viewAllVolumes/viewAllVolumesList.html'"></div>
		</div>
	</div>

	<div class="item clearfix">
		<div class="col-sm-5">CPU (in MHz)</div>
		<div class="col-sm-7">{{ vm.cpuspeed }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">HA Enabled</div>
		<div class="col-sm-7">{{ vm.haenable }}</div>
	</div>

	<!-- Affinity Group -->
	<div class="item clearfix">
		<div class="col-sm-5">Group</div>
		<div class="col-sm-7">
			<div ng-show="!vm.editAffinityGroup" class="noGutter">
				<div class="col-sm-7">{{ vm.affinitygroup }}</div>
				<div class="col-sm-5">
					<a ng-show="!vm.editAffinityGroup" ng-click="vm.editAffinityGroup = true; loadAffinityGroups(vm);" class="btn btn-default btn-sm pull-right">Move to Group</a>
				</div>
			</div>
			<div ng-show="vm.editAffinityGroup" class="noGutter">
				<div class="col-sm-7">
					<div ng-class="{ 'hidden': !vm.affinityGroupsLoading }" ng-show="vm.affinityGroupsLoading">
						<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate"></span>
						<strong>Loading Affinity Groups</strong>
					</div>

					<div class="form-group" ng-show="!vm.affinityGroupsLoading">
						<select class="form-control" ng-model="vm.affinityGroupName" ng-change="vm.affinityGroupName">
							<option value="">Select a group</option>
							<option ng-repeat="affinityGroupName in vm.affinityGroupsArray">{{ affinityGroupName }}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-5">
					<a ng-click="changeAffinityGroup(vm)" class="btn btn-default btn-sm pull-right">Save</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Account created -->
	<div class="item clearfix">
		<div class="col-sm-5">Account Created</div>
		<div class="col-sm-7">{{ vm.created }}</div>
	</div>

	<!-- Account -->
	<div class="item clearfix">
		<div class="col-sm-5">Account</div>
		<div class="col-sm-7">{{ vm.account }}</div>
	</div>

	<!-- Password -->
	<div class="item clearfix">
		<div class="col-sm-5">Password</div>
		<div class="col-sm-7">
			<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#resetPassword{{$index}}">Reset Password</button>

			<!-- Reset Password Modal -->
			<div class="modal" id="resetPassword{{$index}}" tabindex="-1" role="dialog" aria-labelledby="resetPasswordLabel{{$index}}" ng-init="indicator = $index">
				<div class="verticalAlignModalHelper">
					<div class="modal-dialog modal-sm verticalAlignModal" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<p>To reset password VM needs to be stopped. Please confirm if you are happy to do this.</p>
								<button data-dismiss="modal" type="button" ng-click="changePassword(vm)" class="btn btn-block btn-danger">Stop and Reset Password</button>
								<span data-dismiss="modal" class="displayBlock text-center">Cancel</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>