//  http://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle/
.navbar-toggle.collapsed {
	.top-bar {
		transform: rotate(0);
	}
	.middle-bar {
		opacity: 1;
	}
	.bottom-bar {
		transform: rotate(0);
	}
}

.navbar-toggle {
	border: none;

	.icon-bar {
		width: 34px;
		height: 3px;
		transition: all 0.2s;

		+ .icon-bar {
			margin-top: 6px;
		}
	}
	.top-bar {
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	}
	.middle-bar {
		opacity: 0;
	}
	.bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}
}