// mobile styles
header {
	background: #000;
	margin-bottom: 30px;

	.container {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.logo {
		overflow: hidden;

		a {
			display: block;
			float: left;
			background: transparent url('../images/interouteLogoSmall.svg') no-repeat 0 0;
			width: 100px;
			height: 30px;
			background-size: 100px 30px;
			text-indent: -9999px;
		}
		a, img { max-width: 100%; }

		button {
			margin: 0;

			span { background-color: #fff; }
		}
		.glyphicon-search {
			float: right;
			font-size: 24px;
			color: #fff;
			padding: 9px 10px;
			position: relative;
			top: -2px;

			&:hover { cursor: pointer; }
		}
	}

	.navigationAndSearchForm {
		.homepageLink,
		.loginSignupButtons { display: none; }

		form {
			padding-top: 10px;

			.input-group { border: solid 1px #6e6e6e; }
			.form-control { background: #000; }
			.btn {
				border-radius: 0;
				background-color: #424242;
				color: #fff;

				&:hover { color: #fff; }
			}

			.form-control,
			.btn { border-width: 0; }
		}
	}

	nav {
		background-color: $brand-primary;
		font-size: 15px;
		font-weight: 500;
		left: -15px;
		position: relative;
		top: 15px;
		width: calc(100% + 30px);

		button, a {
			color: #fff;
			padding: 10px 15px;
			display: block;

			&:hover {
				color: #fff;
				text-decoration: none;
				cursor: pointer;
			}
		}

		button {
			background-color: transparent;
			border-radius: 0;
			border: none;
			text-align: left;
			width: 100%;

			&:focus { outline: none; }
			&:hover { border-radius: 0; }
		}

		// first level ul
		> ul {
			padding-left: 0;
			margin-bottom: 0;

			> li {
				list-style: none;

				&:hover { background-color: $link-hover-color; }
			}

			button[aria-expanded="true"] {
				.caret {
					@include rotate(180deg);
				}
			}
		}

		.panel {
			background-color: transparent;
			margin-bottom: 0;
			border: none;
			position: relative;
			box-shadow: none;
		}

		.dropdownMenu {
			margin: 0;
			padding: 0;

			li {
				list-style-type: none;
				background-color: #6e6e6e;

				&:hover { background-color: #B8B8B8; }
			}

			a {
				padding-left: 30px;
				padding-right: 30px;
				white-space: nowrap;

				&:hover { color: #fff; }
			}
		}
	}
}

// desktop styles
@media (min-width: 768px) and (max-width: 991px) {
	header {
		.navbar-toggle { display: block; }
		nav {
			width: 100vw;
			left: calc(-50vw + 50%);

			ul {
				a, button {
					width: 750px;
					margin: 0 auto;
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	header .logo {
		padding-top: 12px;
		float: left;

		a {
			background-image: url('../images/interouteLogoLarge.svg');
			width: 160px;
			height: 75px;
			background-size: 160px 75px;
		}
		.glyphicon-search { display: none; }
	}

	header nav {
		width: auto;
		float: left;
		background-color: transparent;
		left: 0;
		top: 10px;

		button, a { background-color: transparent; }

		// first level ul
		> ul {
			> li {
				float: left;
				position: relative;

				&:first-child .dropdownMenu { left: -19px; }
				&:first-child button { padding-left: 0; }
				&:hover { background-color: transparent; }

				button, a {
					padding: 0 10px;

					&:hover { color: $link-hover-color; }
				}
			}
		}
		.dropdownMenu {
			background-color: rgba(0, 0, 0, 0.85);
			position: absolute;
			z-index: $zindex-dropdown;
			min-width: 160px;
			margin: 0;
			padding: 0 5px;
			left: 3px;
			top: 36px;

			li {
				background-color: transparent;

				&:first-child {margin-top: 5px;}
				&:last-child {margin-bottom: 5px;}
				&:hover { background-color: $brand-primary; }
				a { padding: 10px 15px; }
			}
		}
	}

	nav.collapse,
	#siteSearch.collapse { display: block; }

	header .navigationAndSearchForm {
		float: right;
		margin-left: 30px;
		position: relative;
		width: calc(100% - 160px - 30px); /* 100% - logo width - margin-left */

		#siteSearch {
			margin-bottom: 30px;
			height: auto !important;
		}

		form {
			display: block;
			max-width: 260px;
			padding-top: 0;
		}

		.homepageLink {
			color: #adafb2;
			display: block;
			font-size: 12px;
			position: absolute;
			right: 0;
			top: 0;

			&:hover { color: #fff; }
		}

		.loginSignupButtons {
			display: block;
			float: right;

			a:first-child { margin-right: 30px; }
		}
	}
}

@media screen and (min-width: 1200px) {
	header .navigationAndSearchForm {
		margin-left: 100px;
		width: calc(100% - 160px - 100px); /* 100% - logo width - margin-left */
	}
	// first level ul
	header nav > ul > li {
		button, a {	padding: 0 22px; }
	}
}