.displayFlex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.displayInlineBlock { display: inline-block; }
.displayBlock { display: block; }
.displayTable { display: table; }
.displayTableCell { display: table-cell; }

.verticalAlignTop { align-self: flex-start; }
.verticalAlignBottom { align-self: flex-end; }
.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.positionRelative { position: relative; }

.noGutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}

.onHoverCursorPointer:hover { cursor: pointer; }

/* colors */
.textSuccess { color: $brand-success; }
.textPrimary { color: $brand-primary; }
.textDanger { color: $brand-danger; }
.textwhite { color: #fff; }

/* icons sizes */
.iconSmall { @include button-size($padding-small-vertical - 1px /* cater for 2 pixel border */, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small); }
.iconLarge { @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large); }

/* icons colors */
.iconPrimary {
	background: $brand-primary;
	color: #fff;
	border: solid 1px $brand-primary;
}

/* icon active */
.iconPrimary:hover,
.iconPrimary.iconActive {
	background: #fff;
	color: $brand-primary;
}

/* custom bootstrap collapse */
.fixedPositionCollapse {
	padding: 10px;
	border: solid 2px $brand-primary;
	position: absolute;
	z-index: 10000;
	background: #fff;
	width: calc(100% - 24px)
}