.listView {
	.item {
		&:nth-child(even) { background: #ccc; }
		&:nth-child(odd) { background: #fff; }

		.showDetails {
			&:hover { cursor: pointer; }
		}
		.detail {
			background: #EBEBEB;
		}
	}
	.open .glyphicon-chevron-down {
		@include rotate(180deg);
	}

	.filterByStatus {
		.active {
			border: solid 1px #000;
			padding: 3px;
		}
		.glyphicon:hover { cursor: pointer; }
	}

	.takeSnapshot {
		&:hover { cursor: pointer; }
	}
}

.component {
	border: solid 1px grey;
	padding: 10px;
	margin-bottom: 15px;
}

.formSectionError {
	border: solid 1px $input-error-color;
}