.loadingContainer { position: relative; }
.loadingContent {
	z-index: 0;
	min-height: 200px;
	opacity: 0.3;
}
.loadingOverlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.10);
	z-index: 1;
	margin-left: 15px;
	margin-right: 15px;
}

/* sizes */
.glyphicon.loadingSpinner.large { font-size: 50px; }

/* positioning */
.glyphicon.loadingSpinner.centerPosition {
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	z-index: 2;
}

/* animate spinner */
.glyphicon-refresh-animate {
	-webkit-animation: spin 1000ms infinite linear;
	animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}