.verticalAlignModalHelper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}
.verticalAlignModal {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}
.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width: inherit;
	height: inherit;
	/* To center horizontally */
	margin: 0 auto;
	pointer-events: all;
}