<div class="modal" id="addIpToNic{{nicIndex}}VM{{vmIndex}}" tabindex="-1" role="dialog" aria-labelledby="addIpToNic{{nicIndex}}VM{{vmIndex}}Label">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">

					<!-- secondaryIPs -->
					<div ng-show="nic.secondaryIps.length">
						<h2>Secondary Ip's</h2>

						<div class="row">
							<div class="col-sm-4" ng-repeat="secondaryIp in nic.secondaryIps track by $index">
								{{ secondaryIp.ipaddress }}
								<span class="glyphicon glyphicon-remove onHoverCursorPointer" ng-click="nicsCtrl.removeIpFromNic(nic, $index)"></span>
							</div>
						</div>
					</div>

					<h2>Add a new secondary IP</h2>
					<p>Please confirm that you would like to acquire a new secondary IP for this NIC. <strong>NOTE:</strong> You need to manually configure the newly-acquired secondary IP inside the virtual machine.</p>

					<!-- addIpToNic form -->
					<form name="addIpToNicForm[{{$index}}]"
						role="form"
						ng-class="{ 'has-error': nic.showToolTips && addIpToNicForm[{{$index}}].addIpToNic.$error.required || nic.showToolTips && addIpToNicForm[{{$index}}].addIpToNic.$error.minlength }"
						novalidate>

						<!-- addIpToNic required error tooltip -->
						<div class="customToolTip showToolTip"
							ng-show="nic.showToolTips && addIpToNicForm[{{$index}}].addIpToNic.$error.required">
							<div class="customToolTipContent">
								<span>Please enter an IP address</span>
								<div class="customToolTipArrow"></div>
							</div>
						</div>

						<!-- addIpToNic min length error tooltip -->
						<div class="customToolTip showToolTip"
							ng-show="nic.showToolTips && addIpToNicForm[{{$index}}].addIpToNic.$error.minlength">
							<div class="customToolTipContent">
								<span>Please enter at least 7 characters</span>
								<div class="customToolTipArrow"></div>
							</div>
						</div>

						<input type="text"
							ng-model="nic.addIpToNic"
							name="addIpToNic"
							ng-minlength="7"
							class="form-control input-sm showToolTip"
							placeholder="0.0.0.0"
							required />

						<br /><br />

						<button type="button" class="btn btn-default btn-primary btn-block" ng-click="nicsCtrl.addIpToNic(nic, addIpToNicForm[$index])">
							<span ng-show="nic.addIpToNicInProgress" class="glyphicon loadingSpinner textWhite glyphicon-refresh glyphicon-refresh-animate"></span>
							Add secondary IP
						</button>
						<span data-dismiss="modal" class="displayBlock text-center">Cancel</span>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>