<div class="modal" id="addNIC{{nicIndex}}ToVM{{vmIndex}}" tabindex="-1" role="dialog" aria-labelledby="addNIC{{nicIndex}}ToVM{{vmIndex}}Label">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div ng-show="!nicsCtrl.networks">
						<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate"></span>
						<strong>loading networks</strong>
					</div>

					<div ng-show="nicsCtrl.networks">
						<p>Please specify the network that you would like to add to this VM. A new NIC will be added for this network.</p>

						<!-- addNICToVM form -->
						<form name="addNICToVMForm[{{$index}}]"
							role="form"
							ng-class="{ 'has-error': vm.showToolTips && addNICToVMForm[{{$index}}].addNetwork.$error.required }"
							novalidate>

							<!-- addNICToVM tooltip -->
							<div class="customToolTip showToolTip"
								ng-show="vm.showToolTips && addNICToVMForm[{{$index}}].addNetwork.$error.required">
								<div class="customToolTipContent">
									<span>Please select a network</span>
									<div class="customToolTipArrow"></div>
								</div>
							</div>

							<select class="form-control"
								ng-model="vm.addNetwork"
								ng-change="vm.addNetwork; nicsCtrl.toggleAssignIPCheckbox(vm.addNetwork)"
								name="addNetwork"
								required
								style="margin-bottom:20px">
								<option value="">Select Network</option>
								<option ng-repeat="network in nicsCtrl.networks">
									{{ network.id }}
								</option>
							</select>

							<div class="collapse" id="assignIPToVMCheckbox" style="margin-bottom:20px">
								<div class="checkbox checkbox-primary">
									<input type="checkbox" id="assignIP{{nicIndex}}ToVM{{vmIndex}}Checkbox" ng-model="nicsCtrl.assignIPToVMCheckbox" ng-change="nicsCtrl.toggleAssignIPInput()" />
									<label for="assignIP{{nicIndex}}ToVM{{vmIndex}}Checkbox">
										Would you like to assign an IP to this network?
									</label>
								</div>
							</div>

							<div class="collapse" id="assignIPToVMInput" style="margin-bottom:20px">
								<input type="text" class="form-control" placeholder="192.168.0.0" id="assignIP{{nicIndex}}ToVM{{vmIndex}}Input" ng-model="nicsCtrl.assignIPToVMInput" />
							</div>

							<div class="row">
								<div class="col-sm-9">
									<button type="button" class="btn btn-primary btn-block" ng-click="nicsCtrl.addNICToVM(vm, addNICToVMForm[$index])" ng-disabled="!vm.addNetwork.length">
										<span ng-show="vm.addNetworkInProgress" class="glyphicon loadingSpinner textWhite glyphicon-refresh glyphicon-refresh-animate"></span>
										Add Network
									</button>
								</div>
								<div class="col-sm-3">
									<span data-dismiss="modal" class="displayBlock text-center onHoverCursorPointer">Cancel</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>