<div class="modal" id="enableInternetNIC{{nicIndex}}onVM{{vmIndex}}" tabindex="-1" role="dialog" aria-labelledby="enableInternetNIC{{nicIndex}}onVM{{vmIndex}}Label">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal-sm verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<p>Default ports have been assigned to you.</p>

					<button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="nicsCtrl.enableInternetNIC(nic.id, vm.id)">
						Enable
					</button>
					<span data-dismiss="modal" class="displayBlock text-center">Cancel</span>
				</div>
			</div>
		</div>
	</div>
</div>