<div class="vmSpecifics" ng-init="vmIndex = $index" ng-controller="nicsCtrl as nicsCtrl">
	<div ng-show="!vm.nic.length">
		No nics available for this virtual machine
	</div>

	<div ng-show="vm.nic.length" ng-repeat="nic in vm.nic" ng-init="nicIndex = $index" style="margin-bottom: 20px; padding-bottom:20px; border-bottom:solid 1px black">
		<div class="row">
			<div class="col-sm-12">
				<button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addNIC{{nicIndex}}ToVM{{vmIndex}}" ng-click="nicsCtrl.getNetworks()">Add network to VM</button>
			</div>

			<!-- addNICToVM modal -->
			<div ng-include="'views/virtualMachines/details/nics/addNICToVMModal.html'"></div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-4">Network Name</div>
					<div class="col-sm-8">{{ nic.networkname }}</div>
				</div>
				<div class="row">
					<div class="col-sm-4">Nic ID</div>
					<div class="col-sm-8">{{ nic.id }}</div>
				</div>
				<div class="row">
					<div class="col-sm-4">Type</div>
					<div class="col-sm-8">{{ nic.type }}</div>
				</div>
				<div class="row">
					<div class="col-sm-4">IP Address</div>
					<div class="col-sm-8">
						{{ nic.ipaddress }}
						<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addIpToNic{{nicIndex}}VM{{vmIndex}}">Secondary IP</button>

						<!-- addIpToNic modal -->
						<div ng-include="'views/virtualMachines/details/nics/addIPToNICModal.html'"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">Gateway</div>
					<div class="col-sm-8">{{ nic.gateway }}</div>
				</div>
				<div class="row">
					<div class="col-sm-4">Netmask</div>
					<div class="col-sm-8">{{ nic.netmask }}</div>
				</div>
				<div class="row">
					<div class="col-sm-4">IPv6 IP Address</div>
					<div class="col-sm-8">{{ nic.ipv6IpAddress }}</div>
				</div>
				<div class="row">
					<div class="col-sm-4">IPv6 Gateway</div>
					<div class="col-sm-8">{{ nic.ipv6Gateway }}</div>
				</div>
				<div class="row">
					<div class="col-sm-4">IPv6 CIDR</div>
					<div class="col-sm-8">{{ nic.ipv6CIDR }}</div>
				</div>
			</div>
			<div class="col-sm-4">
				<button type="button" class="btn btn-default btn-md btn-block">
					<span ng-show="nic.makeDefaultNICInProgress" class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate"></span>
					<span ng-show="nic.isdefault">Default NIC</span>
					<span ng-show="!nic.isdefault" ng-click="nicsCtrl.updateDefaultNicForVM(nic, vm)">Make Default</span>
				</button>

				<button type="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#removeNIC{{nicIndex}}FromVM{{vmIndex}}">Remove NIC</button>
				<button type="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#enableInternetNIC{{nicIndex}}onVM{{vmIndex}}">Enable Internet</button>

				<!-- removeNIC modal -->
				<div ng-include="'views/virtualMachines/details/nics/removeNICModal.html'"></div>

				<!-- enableInternetNIC modal -->
				<div ng-include="'views/virtualMachines/details/nics/enableInternetNICModal.html'"></div>
			</div>
		</div>
	</div>
</div>