<div class="modal" id="removeNIC{{nicIndex}}FromVM{{vmIndex}}" tabindex="-1" role="dialog" aria-labelledby="removeNIC{{nicIndex}}FromVM{{vmIndex}}Label">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal-sm verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<p class="text-center">
						Are you sure you want to remove nic <strong>({{ nic.id }})</strong>?
					</p>
					<p class="text-center">
						Note: This will also remove the associated network <strong>({{ nic.networkname }})</strong> from the VM <strong>({{ vm.nic[$index].networkname }})</strong>.
					</p>
					<button type="button" class="btn btn-danger btn-block" ng-click="nicsCtrl.removeNICFromVM(nic.id, nicIndex, vm)">
						<span ng-show="vm.removeNICFromVMInProgress" class="glyphicon loadingSpinner textWhite glyphicon-refresh glyphicon-refresh-animate"></span>
						Remove
					</button>
					<span data-dismiss="modal" class="displayBlock text-center">Cancel</span>
				</div>
			</div>
		</div>
	</div>
</div>