<div class="modal" id="deleteVM{{vmIndex}}Snapshot{{snapshotIndex}}" tabindex="-1" role="dialog" aria-labelledby="deleteVM{{vmIndex}}Snapshot{{snapshotIndex}}Label">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal-sm verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<p class="text-center">Are you sure you want to delete snapshot <strong>({{ snapshot.name }})</strong>?</p>

					<p class="text-center">All data will be deleted.<br />
					This action is irreversible.</p>

					<button type="button" class="btn btn-danger btn-block" data-dismiss="modal" ng-click="deleteSnapshot(snapshot.id, $index)">Delete</button>
					<span data-dismiss="modal" class="displayBlock text-center">Cancel</span>
				</div>
			</div>
		</div>
	</div>
</div>