<div class="modal" id="revertVM{{vmIndex}}ToSnapshot{{snapshotIndex}}" tabindex="-1" role="dialog" aria-labelledby="revertVM{{vmIndex}}ToSnapshot{{snapshotIndex}}Label">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal-sm verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<p class="text-center">Are you sure you want to revert vm <strong>({{ vm.name }})</strong> to snapshot <strong>({{ snapshot.name }})</strong>?</p>

					<button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="revertVMToSnapshot(snapshot.id, $index)">Confirm</button>
					<span data-dismiss="modal" class="displayBlock text-center">Cancel</span>
				</div>
			</div>
		</div>
	</div>
</div>