<div class="vmSpecifics" ng-init="vmIndex = $index" ng-controller="savedSnapshotsCtrl">
	<div class="loadingOverlay" ng-show="vm.loadingSavedSnapshots"></div>
	<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate large centerPosition" ng-class="{ 'hidden': !vm.loadingSavedSnapshots }" ng-show="vm.loadingSavedSnapshots"></span>

	<div ng-show="!vm.loadingSavedSnapshots">
		<div ng-show="!vm.savedSnapshots.length">
			No snapshots available for this virtual machine
		</div>

		<div ng-show="vm.savedSnapshots.length" ng-repeat="snapshot in vm.savedSnapshots" ng-init="snapshotIndex = $index" class="row" style="margin-bottom: 20px; padding-bottom:20px; border-bottom:solid 1px black">
			<div class="col-sm-3">
				Name<br />
				ID<br />
				Type<br />
				State<br />
				Current<br />
				Date
			</div>
			<div class="col-sm-5">
				{{ snapshot.name }}<br />
				{{ snapshot.id }}<br />
				{{ snapshot.type }}<br />
				{{ snapshot.state }}<br />
				{{ snapshot.current }}<br />
				{{ snapshot.date }}
			</div>
			<div class="col-sm-4">
				<button type="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#deleteVM{{vmIndex}}Snapshot{{snapshotIndex}}">Delete Snapshot</button>
				<button type="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#revertVM{{vmIndex}}ToSnapshot{{snapshotIndex}}">Revert to Snapshot</button>

				<!-- deleteSnapshot modal -->
				<div ng-include="'views/virtualMachines/details/savedSnapshots/deleteSnapshotModal.html'"></div>

				<!-- revertVMToSnapshot modal -->
				<div ng-include="'views/virtualMachines/details/savedSnapshots/revertVMToSnapshotModal.html'"></div>
			</div>
		</div>
	</div>
</div>