<div class="modal" id="addVolume{{$index}}" tabindex="-1" role="dialog" aria-labelledby="addVolumeLabel{{$index}}">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<!-- add volume form -->
					<form name="addVolumeForm[{{$index}}]" role="form" novalidate ng-submit="checkAddVolumeFormSections(vm, addVolumeForm[$index])">
						<!-- volume name -->
						<div class="row">
							<div class="col-sm-12" ng-class="{
									'has-error': addVolumeForm[{{$index}}].$submitted && addVolumeForm[{{$index}}].volumeName.$invalid
								}">
								<div class="form-group showToolTip">
									<!-- volume name empty tooltip -->
									<div class="customToolTip showToolTip"
										ng-show="addVolumeForm[{{$index}}].volumeName.$error.required">
										<div class="customToolTipContent">
											<span>Please enter a volume name</span>
											<div class="customToolTipArrow"></div>
										</div>
									</div>

									<!-- volume name min length error tooltip -->
									<div class="customToolTip showToolTip"
										ng-show="addVolumeForm[{{$index}}].volumeName.$error.minlength">
										<div class="customToolTipContent">
											<span>Please enter at least 3 characters</span>
											<div class="customToolTipArrow"></div>
										</div>
									</div>

									<input type="text"
										ng-model="vm.addVolume.volumeName"
										ng-minlength="3"
										placeholder="Add name"
										class="form-control input-sm showToolTip"
										name="volumeName"
										required>
								</div>
							</div>
						</div>

						<strong class="text-danger" ng-show="vm.addVolume.allSectionsEmpty && !vm.addVolume.sectionInFocus">
							Please fill out one of the sections
						</strong>

						<!-- create new volume -->
						<div class="component" ng-class="{ 'formSectionError': vm.addVolume.allSectionsEmpty && !vm.addVolume.sectionInFocus }">
							<div class="row">
								<div class="col-sm-12">
									<span class="pull-left">Create new volume</span>
									<span ng-show="vm.addVolume.sectionInFocus === 'createNewVolume'" class="glyphicon glyphicon-ok pull-right"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6" ng-class="{ 'has-error': vm.addVolume.showToolTips && vm.addVolume.sectionInFocus === 'createNewVolume' && addVolumeForm[{{$index}}].diskSpace.$invalid }">
									<div class="form-group showToolTip">

										<!-- diskSpace empty tooltip -->
										<div class="customToolTip showToolTip"
											ng-show="vm.addVolume.showToolTips && vm.addVolume.sectionInFocus === 'createNewVolume' && addVolumeForm[{{$index}}].diskSpace.$error.required">
											<div class="customToolTipContent">
												<span>Please enter a diskSpace</span>
												<div class="customToolTipArrow"></div>
											</div>
										</div>

										<input type="text"
											ng-model="vm.addVolume.newVolume.diskSpace"
											placeholder="Disk space"
											class="form-control input-sm showToolTip"
											name="diskSpace"
											ng-focus="vm.addVolume.sectionInFocus = 'createNewVolume'"
											required
											integers-only>
									</div>
								</div>
								<div class="col-sm-6" ng-class="{ 'has-error' : vm.addVolume.showToolTips && vm.addVolume.sectionInFocus === 'createNewVolume' && addVolumeForm[{{$index}}].diskOffering.$error.required }">
									<div class="form-group showToolTip">

										<!-- diskOffering empty tooltip -->
										<div class="customToolTip showToolTip"
											ng-show="vm.addVolume.showToolTips && vm.addVolume.sectionInFocus === 'createNewVolume' && addVolumeForm[{{$index}}].diskOffering.$error.required">
											<div class="customToolTipContent">
												<span>Please choose a diskOffering</span>
												<div class="customToolTipArrow"></div>
											</div>
										</div>

										<select class="form-control"
											ng-model="vm.addVolume.newVolume.diskOffering"
											ng-change="vm.addVolume.newVolume.diskOffering"
											name="diskOffering"
											ng-focus="vm.addVolume.sectionInFocus = 'createNewVolume'"
											required>
											<option value="">Disk Offering</option>
											<option value="EBS">EBS</option>
											<option value="Protected">Protected</option>
											<option value="Mirrored">Mirrored</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<!-- upload your own volume -->
						<div class="component" ng-class="{ 'formSectionError': vm.addVolume.allSectionsEmpty && !vm.addVolume.sectionInFocus }">
							<div class="row">
								<div class="col-sm-12">
									<span class="pull-left">Or Upload your own</span>
									<span ng-show="vm.addVolume.sectionInFocus === 'uploadYourOwn'" class="glyphicon glyphicon-ok pull-right"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span>You can specify the URL and we'll fetch the volume</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12" ng-class="{
										'has-error': vm.addVolume.showToolTips && vm.addVolume.sectionInFocus === 'uploadYourOwn' && addVolumeForm[{{$index}}].uploadVolumeURL.$invalid
									}">
									<div class="form-group showToolTip">
										<!-- upload volume url empty tooltip -->
										<div class="customToolTip showToolTip"
											ng-show="vm.addVolume.showToolTips && vm.addVolume.sectionInFocus === 'uploadYourOwn' && addVolumeForm[{{$index}}].uploadVolumeURL.$error.required">
											<div class="customToolTipContent">
												<span>Please enter a url</span>
												<div class="customToolTipArrow"></div>
											</div>
										</div>

										<input type="text"
											ng-model="vm.addVolume.newVolume.uploadVolumeURL"
											placeholder="http://"
											class="form-control input-sm showToolTip"
											name="uploadVolumeURL"
											ng-focus="vm.addVolume.sectionInFocus = 'uploadYourOwn'"
											required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-9">
									<span>Or you can upload from your local machine</span>
								</div>
								<div class="col-sm-3">
									<span class="btn btn-secondary pull-right">
										Upload
										<span class="glyphicon glyphicon-cloud-upload"></span>
									</span>
								</div>
							</div>
						</div>

						<!-- select from existing -->
						<div class="component" ng-class="{ 'formSectionError': vm.addVolume.allSectionsEmpty && !vm.addVolume.sectionInFocus }">
							<div class="row">
								<div class="col-sm-12">
									<span class="pull-left">Or select from existing</span>
									<span ng-show="vm.addVolume.sectionInFocus === 'selectFromExisting'" class="glyphicon glyphicon-ok pull-right"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12" ng-class="{ 'has-error' : vm.addVolume.showToolTips && vm.addVolume.sectionInFocus === 'selectFromExisting' && addVolumeForm[{{$index}}].selectedVolume.$error.required }">
									<div class="form-group showToolTip">

										<!-- selectedVolume empty tooltip -->
										<div class="customToolTip showToolTip"
											ng-show="vm.addVolume.showToolTips && vm.addVolume.sectionInFocus === 'selectFromExisting' && addVolumeForm[{{$index}}].selectedVolume.$error.required">
											<div class="customToolTipContent">
												<span>Please choose a Volume</span>
												<div class="customToolTipArrow"></div>
											</div>
										</div>

										<select class="form-control"
											ng-model="vm.addVolume.newVolume.selectedVolume"
											ng-change="vm.addVolume.newVolume.selectedVolume"
											name="selectedVolume"
											ng-focus="vm.addVolume.sectionInFocus = 'selectFromExisting'"
											required>
											<option value="">Choose Volume</option>
											<option value="Disk 1">Disk 1</option>
											<option value="Disk 2">Disk 2</option>
											<option value="Disk 3">Disk 3</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<input type="submit" class="btn btn-block btn-primary" value="Add Volume" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>