<div class="modal" id="detachDataDisk{{$index}}" tabindex="-1" role="dialog" aria-labelledby="detachDataDiskLabel{{$index}}">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal-sm verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<span>Are you sure you want to detach this data disk?</span>
				</div>
				<div class="modal-footer">
					<span class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-dismiss="modal" data-target="#viewAllVolumes{{$index}}">Cancel</span>
					<span class="btn btn-primary" data-dismiss="modal" ng-click="detachDataDisk(vm)">Confirm</span>
				</div>
			</div>
		</div>
	</div>
</div>