<div ng-controller="viewAllVolumesCtrl">
	{{ vm.rootdeviceid }}
	<div ng-show="vm.addVolumeInProgress">
		Add volume in progress
		<span  class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate"></span>
	</div>
	<a ng-click="viewAllVolumes(vm);" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-dismiss="modal" data-target="#viewAllVolumes{{$index}}">View all</a>

	<!-- viewAllVolumes modal -->
	<div ng-include="'views/virtualMachines/details/viewAllVolumes/viewAllVolumesModal.html'"></div>

	<!-- detachDataDisk modal -->
	<div ng-include="'views/virtualMachines/details/viewAllVolumes/detachDataDiskModal.html'"></div>

	<!-- addVolume modal -->
	<div ng-include="'views/virtualMachines/details/viewAllVolumes/addVolumeModal.html'"></div>
</div>