<div class="modal" id="viewAllVolumes{{$index}}" tabindex="-1" role="dialog" aria-labelledby="viewAllVolumesLabel{{$index}}" ng-init="indicator = $index">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal-sm verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div ng-class="{ 'hidden': vm.viewAllVolumesLoading === false }" ng-show="vm.viewAllVolumesLoading">
						<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate"></span>
						<strong>Loading all volumes</strong>
					</div>

					<div ng-show="vm.viewAllVolumesLoading === false" ng-repeat="volume in vm.volumes">
						<div>{{ volume.name }}</div>
						<div><strong>Type</strong> {{ volume.type }}</div>
						<div>
							<span ng-if="volume.type === 'DATADISK' && volume.state === 'Ready'" class="btn btn-default" data-toggle="modal" data-dismiss="modal" data-target="#detachDataDisk{{indicator}}" ng-click="vm.volumeIDToDetach = volume.id">Detach</span>
							<a ui-sref="storage" class="btn btn-default" data-dismiss="modal">More</a>
						</div>
					</div>
					<a ng-show="vm.viewAllVolumesLoading === false" href="#" class="btn btn-block btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#addVolume{{$index}}">Add Volume</a>
				</div>
			</div>
		</div>
	</div>
</div>