<div ng-click="setQuickActionsVirtualMachine(vm)">
	<div class="row noGutter">
		<!-- Details button -->
		<div class="col-sm-6">
			<a class="btn btn-default btn-md btn-block" ui-sref="storage.details({ storageIndex: $index, storageName: storage.name })">
				Details
			</a>
		</div>

		<!-- Delete button -->
		<div class="col-sm-6">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#deleteStorageDiskModal">
				Delete
			</button>
		</div>
	</div>
	<div class="row noGutter">
		<!-- Attach to VM button -->
		<div class="col-sm-6">
			<a class="btn btn-default btn-md btn-block" ui-sref="storage.attachToVM({ storageIndex: $index, storageName: storage.name })">
				Attach to VM
			</a>
		</div>

		<!-- Download button -->
		<div class="col-sm-6">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#downloadStorageDiskModal">
				Download
			</button>
		</div>
	</div>
	<div class="row noGutter">
		<!-- Snapshot button -->
		<div class="col-sm-6">
			<a class="btn btn-default btn-md btn-block" ui-sref="storage.snapshots({ storageIndex: $index, storageName: storage.name })">
				Snapshots
			</a>
		</div>

		<!-- Detach button -->
		<div class="col-sm-6">
			<button type="button" role="button" class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#detachStorageDiskModal">
				Detach
			</button>
		</div>
	</div>
</div>