<div class="storageSpecifics" ng-controller="storageDetailsCtrl as storageDetailsCtrl">
	<div class="item clearfix">
		<div class="col-sm-5">ID</div>
		<div class="col-sm-7 push-left">{{ storage.id }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">Zone</div>
		<div class="col-sm-7 push-left">{{ storage.zonename }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">State</div>
		<div class="col-sm-7">{{ storage.state }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">VM Status</div>
		<div class="col-sm-7">{{ storage.vmstate }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">VM ID</div>
		<div class="col-sm-7">{{ storage.virtualmachineid }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">VM Name</div>
		<div class="col-sm-7">{{ storage.vmname }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">Type</div>
		<div class="col-sm-7">{{ storage.type }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">Storage Type</div>
		<div class="col-sm-7">{{ storage.storagetype }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">Created</div>
		<div class="col-sm-7">{{ storage.created }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">Domain</div>
		<div class="col-sm-7">{{ storage.domain }}</div>
	</div>
	<div class="item clearfix">
		<div class="col-sm-5">Group</div>
		<div class="col-sm-7"><strong>to do</strong></div>
	</div>
</div>