<div class="pull-right" style="margin-bottom:20px">
	<button type="button" role="button" class="btn btn-link" data-toggle="modal" data-target="#resizeStorageDiskModal">
		<span class="glyphicon glyphicon-resize-full"></span>
		DETACH
	</button>

	<button type="button" role="button" class="btn btn-link" data-toggle="modal" data-target="#resizeStorageDiskModal">
		<span class="glyphicon glyphicon-move"></span>
		RESIZE
	</button>

	<button type="button" role="button" class="btn btn-link" data-toggle="modal" data-target="#deleteStorageDiskModal">
		<span class="glyphicon glyphicon-trash"></span>
		DELETE
	</button>

	<button type="button" role="button" class="btn btn-link" data-toggle="modal" data-target="#takeStorageDiskSnapshotModal">
		<span class="glyphicon glyphicon-camera"></span>
		SNAPSHOT
	</button>
</div>

<!--
*** RULES ***

datadisk
	can resize
	can delete
	can snapshot
	can detach

rootdisk
	cant resize
	cant delete
	cant detach
	can snapshot
 -->