.virtualMachines {
	.vmSpecifics { min-height: 100px; }
}

.current {
	padding: 10px;
	border: solid 1px black;
}

.listView {
	.buffer { padding: 10px 5px; }
	.itemUpdate { background: rgba(221, 221, 221, 0.7); }
	.transparent { @include opacity(0.5) }
}