<!-- filterByZoneModal -->
<div class="modal" id="filterByZoneModal" tabindex="-1" role="dialog" aria-labelledby="filterByZoneModalLabel">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<ul class="list-unstyled" ng-controller="filterByZoneCtrl">
						<li ng-repeat="zone in zones" class="zone {{ zone.zoneName }}">
							<strong class="displayBlock">{{ zone.zoneName }}</strong>

							<div class="row">
								<div ng-repeat="location in zone.locations" class="col-sm-4" style="margin-bottom:10px">
									<span class="flag-icon flag-icon-gb"></span>
									{{ location.name }}
									<div class="checkbox displayInlineBlock pull-right">
										<input type="checkbox" id="{{ location.name }}" ng-model="location.checked" ng-click="countCheckedLocations()" />
										<label for="{{ location.name }}"></label>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="col-sm-6">
									<div class="checkbox displayInlineBlock">
										<input type="checkbox" id="selectAllLocations" ng-model="selectAllLocations" ng-click="toggleAllLocations()">
										<label for="selectAllLocations">
											Select all
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<button class="btn btn-secondary btn-md btn-block" type="button" ng-click="filterByZone()">
										Apply
									</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>