<div class="modal" id="loginDetailsModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="loginDetailsModalLabel">
	<div class="verticalAlignModalHelper">
		<div class="modal-dialog modal-sm verticalAlignModal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<p class="text-center">Please take a note of your Login and Password.</p>

					<div class="row">
						<div class="col-sm-6">
							<fieldset>
								<legend>Login</legend>
								{{ vm.username }}
							</fieldset>
						</div>
						<div class="col-sm-6">
							<fieldset>
								<legend>Password</legend>
								{{ vm.password }}
							</fieldset>
						</div>
					</div>
					<br />

					<p class="text-center">Please take a note of your passowrd as we don't store them. You would need to reset if you lose it.</p>
					<button type="button" data-dismiss="modal" class="btn btn-block btn-secondary" ng-click="vm.showLoginDetails = false">Ok</button>
				</div>
			</div>
		</div>
	</div>
</div>