<div class="row">
	<div class="col-sm-2">
		<div ng-include="'views/common/toggleSideBarNavigation.html'"></div>
	</div>
	<div class="col-sm-10">
		<div ng-include="'views/virtualMachines/quickActions/quickActionsList.html'"></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-2" ng-hide="!mainCtrl.showSideBarNavigation">
		<div ng-include="'views/common/sideBarNavigation.html'"></div>
	</div>

	<div ng-class="{
			'loadingContainer': VMListLoading,
			'col-sm-10': mainCtrl.showSideBarNavigation,
			'col-sm-12': !mainCtrl.showSideBarNavigation
		}">
		<div class="row">
			<div class="col-sm-12">
				<div class="loadingOverlay" ng-show="VMListLoading"></div>
				<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate large centerPosition" ng-class="{ 'hidden': !VMListLoading }" ng-show="VMListLoading"></span>

				<ul class="list-unstyled listView" ng-class="{ 'loadingContent': VMListLoading }">
					<!-- header -->
					<li ng-hide="!virtualMachines.list.length && !VMListLoading" class="clearfix">
						<div class="col-sm-8">
							<div class="row noGutter">
								<!-- vm name -->
								<div class="col-sm-7 buffer">
									<div class="row">
										<div class="col-sm-10">
											<strong>VM Name</strong>
										</div>

										<!-- sort vm names -->
										<div class="col-sm-2 text-center">
											<!-- default icon -->
											<i class="fa fa-sort"
												ng-click="orderVirtualMachines('name')"
												ng-hide="alphabeticalNames === true || alphabeticalNames === false"></i>

											<!-- asc icon -->
											<i class="fa fa-sort-asc"
												ng-click="orderVirtualMachines('name', true)"
												ng-show="alphabeticalNames === true"></i>

											<!-- desc icon -->
											<i class="fa fa-sort-desc"
												ng-click="orderVirtualMachines('name')"
												ng-show="alphabeticalNames === false"></i>
										</div>
									</div>
								</div>

								<!-- zone -->
								<div class="col-sm-5 buffer">
									<div class="row">
										<div class="col-sm-10">
											<strong>Zone</strong>
											<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#filterByZoneModal">
												Filter by Zone
											</button>
										</div>

										<!-- sort vm zones -->
										<div class="col-sm-2">
											<!-- default icon -->
											<i class="fa fa-sort"
												ng-click="orderVirtualMachines('zonename')"
												ng-hide="alphabeticalZones === true || alphabeticalZones === false"></i>

											<!-- asc icon -->
											<i class="fa fa-sort-asc"
												ng-click="orderVirtualMachines('zonename', true)"
												ng-show="alphabeticalZones === true"></i>

											<!-- desc icon -->
											<i class="fa fa-sort-desc"
												ng-click="orderVirtualMachines('zonename')"
												ng-show="alphabeticalZones === false"></i>
										</div>

										<!-- filter by zone -->
										<div ng-include="'views/virtualMachines/list/filterByZoneModal.html'"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="row noGutter">
								<!-- status -->
								<div class="col-sm-10 buffer">
									<div class="row">
										<div class="col-sm-3">
											<strong>Status</strong>
										</div>
										<div class="col-sm-9 filterByStatus">
											<span class="glyphicon glyphicon-ok iconSmall iconPrimary"
												ng-init="runningVMs"
												ng-class="{ 'iconActive' : runningVMs }"
												ng-click="runningVMs = !runningVMs; filterByVirtualMachineStatus('Running')">
											</span>
											<span class="glyphicon glyphicon-stop iconSmall iconPrimary"
												ng-init="stoppedVMs"
												ng-class="{ 'iconActive' : stoppedVMs }"
												ng-click="stoppedVMs = !stoppedVMs; filterByVirtualMachineStatus('Stopped')">
											</span>
											<span class="glyphicon glyphicon-remove iconSmall iconPrimary"
												ng-init="destroyedVMs"
												ng-class="{ 'iconActive' : destroyedVMs }"
												ng-click="destroyedVMs = !destroyedVMs; filterByVirtualMachineStatus('Destroyed')">
											</span>
										</div>
									</div>
								</div>

								<!-- Select all vm checkboxes -->
								<div class="col-sm-2 buffer">
									<div class="checkbox">
										<input type="checkbox" id="toggleAllVMCheckboxes" ng-click="toggleAllVMCheckboxes()" ng-model="virtualMachines.allVMsChecked" />
										<label for="toggleAllVMCheckboxes"></label>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- empty lists -->
					<li ng-show="!virtualMachines.list.length && !VMListLoading">
						<h1>There are no vm's to display!</h1>
					</li>
					<!-- repeater  -->
					<li dir-paginate="vm in virtualMachines.list | itemsPerPage: virtualMachines.vmsPerPage" class="item" ng-class="{ 'open' : vm.showDetails }">
						<!-- summary  -->
						<div class="clearfix summary">
							<div class="col-sm-8 onHoverCursorPointer" ng-click="showVirtualMachineDetails(vm, $index)">
								<div class="row noGutter">
									<!-- vm name -->
									<div class="col-sm-7 buffer" ng-class="{'transparent' : vm.operationInProgress.length }">
										<div class="row">
											<div class="col-sm-10">
												<span class="ellipsis">{{ vm.name }}</span>
											</div>
											<div class="col-sm-2 text-center">
												<span class="glyphicon glyphicon-chevron-down"></span>
											</div>
										</div>
									</div>

									<!-- zonename -->
									<div class="col-sm-5 buffer" ng-class="{'transparent' : vm.operationInProgress.length }">
										<span class="flag-icon flag-icon-gb"></span>
										{{ vm.zonename }}
									</div>
								</div>
							</div>

							<div class="col-sm-4" ng-class="{'transparent' : vm.operationInProgress.length }">
								<div class="row noGutter">
									<!-- state / status / vm queue -->
									<div class="col-sm-10 buffer" ng-hide="vm.showLoginDetails">
										<!-- state -->
										<div ng-hide="vm.operationInProgress.length || vm.scheduledOperation.length" ng-class="{'transparent' : vm.operationInProgress.length }">
											<span ng-if="vm.state == 'Running'" class="glyphicon glyphicon-ok"></span>
											<span ng-if="vm.state == 'Stopped'" class="glyphicon glyphicon-stop"></span>
											<span ng-if="vm.state == 'Destroyed'" class="glyphicon glyphicon-remove"></span>
											{{ vm.state }}
										</div>

										<!-- status -->
										<div class="row" ng-show="vm.operationInProgress.length">
											<div class="col-sm-12">
												<span ng-show="vm.operationInProgress === 'start'">
													vm is starting
												</span>
												<span ng-show="vm.operationInProgress === 'stop'">
													vm is stopping
												</span>
												<span ng-show="vm.operationInProgress === 'reboot'">
													vm is rebooting
												</span>
												<span ng-show="vm.operationInProgress === 'delete'">
													vm is being deleted
												</span>
												<span ng-show="vm.operationInProgress === 'restore'">
													vm is being restored
												</span>
												<span ng-show="vm.operationInProgress === 'copy'">
													vm is being copied
												</span>
												<span ng-show="vm.operationInProgress === 'snapshot'">
													vm snapshot in progress
												</span>
												<span class="glyphicon loadingSpinner textPrimary glyphicon-refresh glyphicon-refresh-animate"></span>
											</div>
										</div>

										<!-- vm queued -->
										<div class="row" ng-show="vm.scheduledOperation.length">
											<div class="col-sm-12">
												<div class="pull-left">
													<span class="glyphicon glyphicon-hourglass textSuccess"></span>
													<span>Queued {{ vm.scheduledOperation }}</span>
												</div>
												<div class="pull-right onHoverCursorPointer" ng-click="removeQueuedVirtualMachine(vm)">
													<span class="glyphicon glyphicon-remove-sign textDanger onHoverCursorPointer"></span>
													<span class="textDanger">Cancel</span>
												</div>
											</div>
										</div>
									</div>

									<!-- show login details -->
									<div class="col-sm-10 buffer" ng-show="vm.showLoginDetails">
										<button type="button" class="btn btn-secondary btn-sm btn-block" data-toggle="modal" data-target="#loginDetailsModal{{$index}}">
											Reveal VM Password
										</button>
									</div>

									<!-- vm checkbox -->
									<div class="col-sm-2 buffer">
										<div class="checkbox pull-left">
											<input type="checkbox" id="checkbox{{$index}}" ng-model="vm.checked" ng-click="virtualMachines.countCheckedVirtualMachinesInView()" ng-disabled="vm.operationInProgress.length || vm.scheduledOperation.length" />
											<label for="checkbox{{$index}}"></label>
										</div>
										<!--
										<span class="glyphicon pull-right textSuccess glyphicon-time"></span>
										-->
									</div>
								</div>

								<!-- login details Modal -->
								<div ng-include="'views/virtualMachines/list/loginDetailsModal.html'"></div>
							</div>
						</div>

						<!-- details -->
				 		<div class="clearfix detail slideToggle" ng-show="vm.showDetails">
				 			<div class="col-sm-8">
								<div ng-include="'views/virtualMachines/details/virtualMachinesDetails.html'" ng-show="$state.current.name === 'virtualMachines' || $state.current.name === 'virtualMachines.details'">
								</div>
				 				<div ui-view="" class="virtualMachines"></div>
				 			</div>
							<div class="col-sm-4">
								<div ng-include="'views/virtualMachines/details/navigation.html'"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- pagination -->
		<div class="row">
			<div class="col-sm-5">
				<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls
			>
			</div>
			<div class="col-sm-7" style="margin-top:22px">
				<div class="pull-left" ng-hide="VMListLoading || virtualMachines.list.length < 25">
					<strong>VM's per page</strong>
					<a href ng-click="virtualMachines.vmsPerPage = 10" ng-class="{ 'current' : virtualMachines.vmsPerPage === 10 }">10</a>
					<a href ng-click="virtualMachines.vmsPerPage = 25" ng-class="{ 'current' : virtualMachines.vmsPerPage === 25 }">25</a>
					<a href ng-click="virtualMachines.vmsPerPage = 50" ng-hide="virtualMachines.list.length < 50" ng-class="{ 'current' : virtualMachines.vmsPerPage === 50 }">50</a>
					<a href ng-click="virtualMachines.vmsPerPage = 100" ng-hide="virtualMachines.list.length < 100" ng-class="{ 'current' : virtualMachines.vmsPerPage ===100 }">100</a>
				</div>

				<div class="pull-right" ng-hide="VMListLoading">
					<strong>Total Virtual Machines</strong> {{ virtualMachines.list.length }}
				</div>
			</div>
		</div>
	</div>
</div>