<div>
	<h1 translate translate-values="{ appleCount: mainCtrl.appleCount }">h1</h1>
	<h2 translate>h2</h2>
	<h3 translate>h3</h3>

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#lazyLoadExample" ng-click="mainCtrl.lazyLoadExample()">
		lazy Load Example
	</button>

	<!-- Modal -->
	<div class="modal" id="lazyLoadExample" tabindex="-1" role="dialog" aria-labelledby="lazyLoadExampleLabel">
		<div class="verticalAlignModalHelper">
			<div class="modal-dialog verticalAlignModal" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="lazyLoadExampleLabel" translate>author</h4>
					</div>
					<div class="modal-body">
						<p translate>content</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br /><br />

	<p translate>p</p>

	<p><a href="http://www.google.co.uk" translate>hyperlink</a></p>

	<strong translate>strong</strong>

	<ul>
		<li translate>item1</li>
		<li translate>item2</li>
		<li translate>item3</li>
		<li translate>item4</li>
		<li translate>item5</li>
		<li translate>item6</li>
	</ul>

	<div style="margin-bottom:20px;">
		<a class="btn btn-default btn-sm" href="#" role="button" translate>smallDefaultButton</a>
		<a class="btn btn-default btn-md" href="#" role="button" translate>mediumDefaultButton</a>
		<a class="btn btn-default btn-lg" href="#" role="button" translate>largeDefaultButton</a>
	</div>

	<div style="margin-bottom:20px;">
		<a class="btn btn-primary btn-sm" href="#" role="button" translate>smallPrimaryButton</a>
		<a class="btn btn-primary btn-md" href="#" role="button" translate>mediumPrimaryButton</a>
		<a class="btn btn-primary btn-lg" href="#" role="button" translate>largePrimaryButton</a>
	</div>

	<div style="margin-bottom:20px;">
		<a class="btn btn-secondary btn-sm" href="#" role="button" translate>smallSecondaryButton</a>
		<a class="btn btn-secondary btn-md" href="#" role="button" translate>mediumSecondaryButton</a>
		<a class="btn btn-secondary btn-lg" href="#" role="button" translate>largeSecondaryButton</a>
	</div>

	<div style="margin-bottom:20px;">
		<a class="btn btn-tertiary btn-sm" href="#" role="button" translate>smallTertiaryButton</a>
		<a class="btn btn-tertiary btn-md" href="#" role="button" translate>mediumTertiaryButton</a>
		<a class="btn btn-tertiary btn-lg" href="#" role="button" translate>largeTertiaryButton</a>
	</div>

	<form>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address - small input</label>
			<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address - medium input</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address - large input</label>
			<input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Email">
		</div>

		<div class="form-group has-error has-feedback">
			<label class="control-label" for="inputError1">Input with error</label>
			<input type="text" class="form-control input-lg" id="inputError1">
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="exampleInputFile">File input</label>
			<input type="file" id="exampleInputFile">
			<p class="help-block">Example block-level help text here.</p>
		</div>

		<div class="checkbox">
			<input type="checkbox" id="checkbox1">
			<label for="checkbox1">
				checkbox default
			</label>
		</div>

		<div class="checkbox checkbox-success">
			<input type="checkbox" id="checkbox2">
			<label for="checkbox2">
				checkbox-success
			</label>
		</div>

		<div class="checkbox checkbox-primary">
			<input type="checkbox" id="checkbox3">
			<label for="checkbox3">
				checkbox-primary
			</label>
		</div>

		<div class="checkbox checkbox-warning">
			<input type="checkbox" id="checkbox4">
			<label for="checkbox4">
				checkbox-warning
			</label>
		</div>

		<div class="checkbox large">
			<input type="checkbox" id="checkbox5">
			<label for="checkbox5">
				checkbox default large
			</label>
		</div>

		<div class="checkbox large checkbox-success">
			<input type="checkbox" id="checkbox6">
			<label for="checkbox6">
				checkbox success large
			</label>
		</div>

		<div class="checkbox large checkbox-primary">
			<input type="checkbox" id="checkbox7">
			<label for="checkbox7">
				checkbox primary large
			</label>
		</div>

		<div class="checkbox large checkbox-warning">
			<input type="checkbox" id="checkbox8">
			<label for="checkbox8">
				checkbox warning large
			</label>
		</div>

		<div class="radio">
			<input type="radio" name="radio2" id="radio3" value="option1">
			<label for="radio3">
			One
			</label>
		</div>

		<div class="form-group">
			<select class="form-control input-lg">
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		</div>

		<div class="form-group">
			<select class="form-control">
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		</div>

		<div class="form-group">
			<select class="form-control input-sm">
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		</div>

		<button type="submit" class="btn btn-default">Submit</button>
	</form>

</div>