// set new and override bootstrap variables
// global rules
$btn-and-input-border-radius-base:      $btn-and-input-border-radius;
$btn-and-input-border-radius-large:     $btn-and-input-border-radius;
$btn-and-input-border-radius-small:     $btn-and-input-border-radius;
$btn-font-weight:                       500;

// primary button
$btn-primary-border:                    $brand-primary;

// secondary button
$btn-secondary-color:                   $btn-primary-color;
$btn-secondary-bg:                      $brand-success;
$btn-secondary-hover-bg:                #BAD97A;

// tertiary button
$btn-tertiary-color:                    #adafb2;
$btn-tertiary-bg:                       transparent;
$btn-tertiary-border-color:             #6e6e6e;
$btn-tertiary-hover-bg:                 $btn-tertiary-border-color;
$btn-tertiary-hover-color:              $btn-primary-color;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// override bootstrap default button css
.btn {
	transition: background-color 0.4s ease;

	&:active { box-shadow: none; }
}

// primary button
.btn-primary {
	&:active,
	&:hover,
	&:focus,
	&:active:hover {
		background-color: $link-hover-color;
		border-color: transparent;
	}
}

// secondary button
.btn-secondary { background-color: $btn-secondary-bg; }
.btn-secondary:hover { background-color: $btn-secondary-hover-bg; }

.btn-secondary,
.btn-secondary:hover {
	color: $btn-secondary-color;
	border-color: transparent;
}
.btn-secondary {
	&:focus,
	&:active {
		background-color: $btn-secondary-hover-bg;
		color: $btn-secondary-color;
	}
}

// tertiary button
.btn-tertiary {
	color: $btn-tertiary-color;
	background-color: $btn-tertiary-bg;
	border-color: $btn-tertiary-border-color;
}
.btn-tertiary:hover {
	color: $btn-tertiary-hover-color;
	background-color: $btn-tertiary-hover-bg;
	border-color: $btn-tertiary-border-color;
}

// button sizes
.btn-sm {
	font-size: 13px;
	padding: 5px 20px;
}

.btn-md {
	font-size: 16px;
	padding: 6px 30px;
}

.btn-lg {
	font-size: 20px;
	padding: 9px 60px;
}
.btn-block {
	padding-left: 0;
	padding-right: 0;
}