@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";

$input-error-color: #FF7171;
$customToolTipHeight: 34px;

label { font-weight: 500; }

.form-control { border-radius: $input-border-radius; }

.form-group select {
	@include gradient-vertical($start-color: #fff, $end-color: $input-border, $start-percent: 0%, $end-percent: 100%);
}

.form-control,
.has-error .form-control,
.has-warning .form-control,
.has-success .form-control {
	&:focus { box-shadow: none; }
}

.has-error {
	position: relative;

	.customToolTip {
		color: #fff;
		background: $input-error-color;
		font-size: 12px;
		border-radius: $btn-and-input-border-radius;
		font-weight: 400;
		position: absolute;
		top: - ($customToolTipHeight + 4px);
		height: $customToolTipHeight;
		white-space: nowrap;

		.customToolTipContent {
			position: relative;

			span {
				display: table-cell;
				vertical-align: middle;
				height: $customToolTipHeight;
				padding: 5px 20px;
			}

			.customToolTipArrow	{
				position: absolute;
				width: 0;
				height: 0;
				border-color: transparent;
				border-style: solid;
				bottom: -5px;
				left: 50%;
				margin-left: -5px;
				border-width: 5px 5px 0;
				border-top-color: $input-error-color;
			}
		}
	}

	.form-control,
	.form-control:focus { border-color: $input-error-color; }
}

fieldset {
	border: solid 1px $input-border;
	padding: 10px;

	legend {
		font-size: 13px;
		margin-bottom: 0;
		border-bottom: 0;
	}
}