// bootstrap overrides
$brand-primary:                #00aeef;
$brand-success:                #78C370;
$text-color:                   #6e6e6e;
$link-hover-color:             #44C8F5;

// font size base
$font-size-base:               16px;

// font family
$roboto-font-family:           'Roboto', Verdana, Arial, sans-serif;
$font-family-sans-serif:       $roboto-font-family;
$font-family-serif:            $roboto-font-family;
$font-family-monospace:        $roboto-font-family;
$font-family-base:             $roboto-font-family;

// inputs
$input-color:                  $text-color;
$input-border:                 #DBD8BD;
$input-border-radius:          0;
$input-border-focus:           $brand-primary;
$input-color-placeholder:      #D1D3D3;

// buttons
$btn-and-input-border-radius:  4px;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";