<div class="container">
	<div class="logo">
		<a href="/">Interoute</a>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNavigation">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar top-bar"></span>
			<span class="icon-bar middle-bar"></span>
			<span class="icon-bar bottom-bar"></span>
		</button>
		<span class="glyphicon glyphicon-search collapsed" aria-hidden="true" data-toggle="collapse" data-target="#siteSearch" aria-expanded="false" aria-controls="siteSearch"></span>
	</div>
	<div class="navigationAndSearchForm clearfix">
	 	<div id="siteSearch" class="collapse">
			<form action="main/search/node" method="post">
				<div class="input-group">
					<input type="text" class="form-control input-sm" id="searchForm" placeholder="Search Cloudstore..." required />
					<div class="input-group-btn">
						<button type="submit" class="input-sm btn"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				</div>
			</form>
		</div>
		<a class="homepageLink" href="/">Go to Interoute.com</a>
		<nav id="headerNavigation" class="collapse">
			<ul class="clearfix" id="accordion" role="tablist" aria-multiselectable="true">
				<li class="panel">
					<button data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Features
						<span class="caret"></span>
					</button>
					<ul id="collapseOne" class="collapse dropdownMenu" role="tabpanel">
						<li role="presentation"><a role="menuitem" href="/main/what_is_vdc">What is VDC</a></li>
						<li role="presentation"><a role="menuitem" href="/main/performance">Performance</a></li>
						<li role="presentation"><a role="menuitem" href="/main/products">Apps Catalogue</a></li>
					</ul>
				</li>
				<li role="presentation"><a role="menuitem" href="/main/pricing">Pricing</a></li>
				<li class="panel">
					<button data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Support
						<span class="caret"></span>
					</button>
					<ul id="collapseTwo" class="collapse dropdownMenu" role="tabpanel">
						<li role="presentation"><a role="menuitem" href="/main/knowledge-centre/library/vdc-v2">Documentation</a></li>
						<li role="presentation"><a role="menuitem" href="/main/faqs">FAQs</a></li>
						<li role="presentation"><a role="menuitem" href="/main/support">SLA</a></li>
						<li role="presentation"><a role="menuitem" href="/main/knowledge-centre/contact-support">Contact us</a></li>
					</ul>
				</li>
				<li class="panel">
					<button data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Resource Centre
						<span class="caret"></span>
					</button>
					<ul id="collapseThree" class="collapse dropdownMenu" role="tabpanel">
						<li role="presentation"><a role="menuitem" href="/main/knowledge-centre/case-studies">Case studies</a></li>
						<li role="presentation"><a role="menuitem" href="/main/knowledge-centre/whitepapers">White Papers</a></li>
						<li role="presentation"><a role="menuitem" href="/main/knowledge-centre/blog">Blogs</a></li>
						<li role="presentation"><a role="menuitem" href="/main/events">Events</a></li>
						<li role="presentation"><a role="menuitem" href="/main/knowledge-centre/videos">Videos</a></li>
					</ul>
				</li>
				<li role="presentation"><a role="menuitem" href="/main/developer">Developers</a></li>
			</ul>
		</nav>
		<div class="loginSignupButtons">
			<a href="/main/account/login" class="btn btn-primary btn-sm">Log in</a>
			<a href="/main/account/create" class="btn btn-tertiary btn-sm pull-right">Sign up</a>
		</div>
	</div>
</div>