<ul class="list-unstyled" ng-show="mainCtrl.showSideBarNavigation">
	<li>
		<button type="button" role="button" class="btn btn-default btn-md btn-block" ui-sref="dashboard" ui-sref-active="btn-secondary" translate style="margin-bottom:2px">
			 vmAndNetworksNavigation.link1
		</button>
	</li>
	<li>
		<button type="button" role="button" class="btn btn-primary btn-md btn-block text-left" ui-sref="virtualMachinesDeployment" ui-sref-active="btn-secondary" translate style="margin-bottom:2px">
			vmAndNetworksNavigation.link2
		</button>
	</li>
	<li>
		<button type="button" role="button" class="btn btn-primary btn-md btn-block text-left" ui-sref="virtualMachines" ui-sref-active="btn-secondary" translate style="margin-bottom:2px">
			vmAndNetworksNavigation.link3
		</button>
	</li>
	<li>
		<button type="button" role="button" class="btn btn-primary btn-md btn-block text-left" ui-sref="networks" ui-sref-active="btn-secondary" translate style="margin-bottom:2px">
			vmAndNetworksNavigation.link4
		</button>
	</li>
	<li>
		<button type="button" role="button" class="btn btn-primary btn-md btn-block text-left" ui-sref="storage" ui-sref-active="btn-secondary" translate style="margin-bottom:2px">
			vmAndNetworksNavigation.link5
		</button>
	</li>
	<li>
		<button type="button" role="button" class="btn btn-primary btn-md btn-block text-left" ui-sref="groups" ui-sref-active="btn-secondary" translate style="margin-bottom:2px">
			vmAndNetworksNavigation.link6
		</button>
	</li>
	<li>
		<button type="button" role="button" class="btn btn-primary btn-md btn-block text-left" ui-sref="statistics" ui-sref-active="btn-secondary" translate style="margin-bottom:2px">
			vmAndNetworksNavigation.link7
		</button>
	</li>
	<li>
		<button type="button" role="button" class="btn btn-primary btn-md btn-block text-left" ui-sref="SSHKeyManager" ui-sref-active="btn-secondary" translate style="margin-bottom:2px">
			vmAndNetworksNavigation.link8
		</button>
	</li>
</ul>