<span class="displayBlock onHoverCursorPointer" ui-sref-active="btn-secondary" ng-click="mainCtrl.showSideBarNavigation = !mainCtrl.showSideBarNavigation" style="margin-bottom:15px">
	<!-- show menu -->
	<span class="glyphicon glyphicon-chevron-right" ng-show="!mainCtrl.showSideBarNavigation"></span>
	<span ng-show="!mainCtrl.showSideBarNavigation">Show menu</span>

	<!-- hide menu -->
	<span class="glyphicon glyphicon-chevron-left" ng-show="mainCtrl.showSideBarNavigation"></span>
	<span ng-show="mainCtrl.showSideBarNavigation">Hide menu</span>
</span>