<div class="row">
	<div class="col-sm-1">
		<a ui-sref="dashboard" ui-sref-active="btn-primary" class="btn btn-default" translate>topNavigation.home</a>
	</div>
	<div class="col-sm-9">
		<div class="btn-group" role="group" aria-label="Large a group">
			<a ui-sref="virtualMachines" ui-sref-active="btn-primary" class="btn btn-default" translate>	topNavigation.virtualMachines
			</a>
			<a ui-sref="templates" ui-sref-active="btn-primary" class="btn btn-default" translate>
				topNavigation.templates
			</a>
			<a ui-sref="vTools" ui-sref-active="btn-primary" class="btn btn-default" translate>
				topNavigation.vTools
			</a>
			<a ui-sref="billing" ui-sref-active="btn-primary" class="btn btn-default" translate>
				topNavigation.billing
			</a>
			<a ui-sref="events" ui-sref-active="btn-primary" class="btn btn-default" translate>
				topNavigation.events
			</a>
			<a ui-sref="styleGuide" ui-sref-active="btn-primary" class="btn btn-default" translate>
				topNavigation.styleGuide
			</a>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="{{ 'topNavigation.searchVDCPlaceholder' | translate }}" />
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" translate>topNavigation.searchVDCButton</button>
			</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<hr />
		<button role="button" class="btn" ng-class="{ 'btn-default': mainCtrl.currentLanguage !== 'cs', 'btn-secondary': mainCtrl.currentLanguage === 'cs' }" ng-click="mainCtrl.switchLanguage('cs')" translate>
			LANG_CS
		</button>
		<button role="button" class="btn" ng-class="{ 'btn-default': mainCtrl.currentLanguage !== 'en', 'btn-secondary': mainCtrl.currentLanguage === 'en' }" ng-click="mainCtrl.switchLanguage('en')" translate>
			LANG_GB
		</button>
		<hr />
	</div>
</div>